/**  Globales  **/
body {
    font-family: "IBM Plex Sans", Arial, sans-serif;
}

h1 {
    color: #025157;
}
h2 {
    color: #025157;
}

/**  Utilidades  **/
.btn-verde-soft {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #67b54b;
}

.a-btn {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.btn-full-size {
    width: 100%;
}

.btn-success {
    background-color: #025157;
}

.wd-100 {
    width: 100%;
}

/**  Header  **/

.header-matcha {
    padding: 30px 60px 120px 60px;
}

.navbar {
    margin-bottom: 120px;
}

.contenido-header h1 {
    font-size: 57px;
}

.contenido-header p {
    font-size: 20px;
}

.sign-up-form p {
    font-size: 14px;
    color: #8b8b8bcc;
}

.logos-header {
    margin: 60px 0;
}

.logos-p {
    color: #8b8b8bcc;
}

.logos-cont img {
    margin-right: 40px;
}

.logos-cont img:last-child {
    margin-right: 0;
}

/**  Top Features **/
.features {
    padding: 120px 0;
}

.features h2 {
    font-size: 55px;
}

.features p {
    font-size: 18px;
    font-weight: 300;
}

.cont-feature img {
    overflow: hidden;
    border-radius: 9px;
    display: inline-block;
    border: 1px solid #dadada;
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 100%;
}

.features .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.cont-feature a {
    text-decoration: none;
    color: #343434;
    transition: all 0.2s ease-in-out;
}

.cont-feature a:hover {
    color: #6abf4b;
}

.cont-feature h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

/**  Tools to help  **/
.tools-to-help {
    padding: 120px 0;
}

.tools-to-help h2 {
    font-size: 36px;
    margin-bottom: 60px;
}

.tools-cards-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.tool-card {
    background-color: #fff;
    border: 1px solid #dadada;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    padding: 40px 18px;
    border-radius: 4px;
}

.tool-card img {
    max-width: 38px;
    height: auto;
}

.tool-card h3 {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    color: #343434;
    margin: 20px 0;
}

.tool-card-text {
    font-size: 15px;
    color: #7e7e7e;
    max-width: 92%;
    margin: 0 auto;
}

/**  Customers  **/
.customers {
    padding: 120px 0;
}

.customers-text h2 {
    font-size: 55px;
}

.carousel-item a {
    text-decoration: none;
    color: #343434;
}

.carousel-item h5 {
    color: #025157;
}

.card-img-top {
    height: 250px;
}
