/**  Globales  **/
body {
    font-family: "IBM Plex Sans", Arial, sans-serif;
}

h1 {
    color: #025157;
}
h2 {
    color: #025157;
}

/**  Utilidades  **/
.btn-verde-soft {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #67b54b;
}

.a-btn {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.btn-full-size {
    width: 100%;
}

.btn-success {
    background-color: #025157;
}

.wd-100 {
    width: 100%;
}

.f-white {
    color: #fff;
}

/**  Header  **/

.header-matcha {
    padding: 30px 60px 120px 60px;
}

.navbar {
    margin-bottom: 120px;
}

.contenido-header h1 {
    font-size: 57px;
}

.contenido-header p {
    font-size: 20px;
}

.sign-up-form p {
    font-size: 14px;
    color: #8b8b8bcc;
}

.logos-header {
    margin: 60px 0;
}

.logos-p {
    color: #8b8b8bcc;
}

.logos-cont img {
    margin-right: 40px;
}

.logos-cont img:last-child {
    margin-right: 0;
}

/**  Top Features **/
.features {
    padding: 120px 0;
}

.features h2 {
    font-size: 55px;
}

.features p {
    font-size: 18px;
    font-weight: 300;
}

.cont-feature img {
    overflow: hidden;
    border-radius: 9px;
    display: inline-block;
    border: 1px solid #dadada;
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 100%;
}

.features .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.cont-feature a {
    text-decoration: none;
    color: #343434;
    transition: all 0.2s ease-in-out;
}

.cont-feature a:hover {
    color: #6abf4b;
}

.cont-feature h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

/**  Tools to help  **/
.tools-to-help {
    padding: 120px 0;
}

.tools-to-help h2 {
    font-size: 36px;
    margin-bottom: 60px;
}

.tools-cards-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.tool-card {
    background-color: #fff;
    border: 1px solid #dadada;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    padding: 40px 18px;
    border-radius: 4px;
}

.tool-card img {
    max-width: 38px;
    height: auto;
}

.tool-card h3 {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    color: #343434;
    margin: 20px 0;
}

.tool-card-text {
    font-size: 15px;
    color: #7e7e7e;
    max-width: 92%;
    margin: 0 auto;
}

/**  Customers  **/
.customers {
    padding: 120px 0;
}

.customers-text h2 {
    font-size: 55px;
}

.carousel-item a {
    text-decoration: none;
    color: #343434;
}

.carousel-item h5 {
    color: #025157;
}

.card-img-top {
    height: 250px;
}

/**  Matcha Compare **/
.matcha-compare {
    padding: 120px 0;
}

.matcha-compare h2 {
    font-size: 55px;
}

.table-compare {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    border: 1px solid #dadada;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.table-compare-item {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    height: 88px;
}

.compare-title {
    font-size: 26px;
    line-height: 1em;
    color: #025157;
    text-align: left;
}

.table-compare-item img {
    width: auto;
    height: 48px;
}

.compare-tit2 {
    text-align: left;
}

.compare-tit2 h3 {
    font-size: 19px;
}

.compare-tit2 p {
    font-size: 13px;
}

#arrow {
    width: 33px;
    height: 26px;
}

/***** Seccion Matcha powers *****/
.matcha-powers {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.powers-letter {
    padding: 40px;
}

.powers-letter h2 {
    color: #025157;
    font-size: 55px;
    line-height: 1.2;
}

.powers-letter button {
    margin: 40px 0 0;
}

.wheel-content {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    background-color: #025157;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
    justify-content: center;
    z-index: 1;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

.wheel-content img {
    margin-bottom: 20px;
}

.wheel-content p {
    color: #fff;
    margin-bottom: 16px;
}

.wheel-card {
    width: 50%;
    background-color: #fff;
    display: inline-block;
    color: inherit;
    padding: 90px 20px 40px;
    border: 1px solid #dadada;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    margin-bottom: 40px;
    border-radius: 5px;
}

.wheel-card:hover {
    color: #67b54b;
}

.p-600 {
    font-weight: 600;
    margin-bottom: 20px;
}

.wheel-logo {
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/***** Seccion Matcha 4-Cards *****/
.matcha-4cards {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardsOT {
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardsTF {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.matcha-card {
    border: 1px solid #dadada;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    width: 480px;
    height: 280px;
    margin-right: 50px;
    margin-top: 50px;
}

.matcha-card:last-child {
    margin-right: 0;
}

.mcardOne {
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/masters.jpg);
    padding: 40px;
}
.mcardOne h2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}

.mcardOne a {
    color: #67b54b;
}

.mcardTwo {
    text-align: left;
    padding: 30px 30px;
}

.mcardTwo h3 {
    font-size: 34px;
    color: #025157;
}

.mcardTwo p {
    font-size: 18px;
    margin: 20px 0;
    width: 250px;
    text-align: justify;
}

.mcardTree {
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/css/../img/gfx/blocks/texture.jpg),
        linear-gradient(#fff 20%, #fade82 40%, #fade82 100%);
    background-repeat: repeat-x;
    background-position: center 2%;
    background-size: 115% auto;
    padding: 50px 50px;
}

.mcardTree img {
    margin-bottom: 20px;
}

.mcardTree p {
    margin-bottom: 20px;
}

.mcardTree a {
    color: #135359;
    font-weight: 600;
    font-size: 18px;
}

.mcardFour {
    text-align: left;
    padding: 30px 30px;
    background-color: #035157;
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/css/../img/gfx/blocks/toolkit.jpg);
    background-position: 130% 44%;
    background-size: auto 150%;
    background-repeat: no-repeat;
}

.mcardFour h3 {
    font-size: 29px;
    max-width: 100%;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 20px;
}

.mcardFour a {
    color: #67b54b;
    font-size: 18px;
}

/*****  Footer *****/
footer {
    padding: 120px 0 0 0;
    max-width: 90%;
    margin: 0 auto;
}

.for-free {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #025157;
    color: #fff;
    border-radius: 10px;
    padding: 80px 100px;
    justify-content: center;
}

.for-free-box1 {
    align-self: flex-start;
    height: 20%;
    width: 60%;
    margin-right: 50px;
}

.for-free-box1 h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.for-free-box1 a {
    color: #6abf4b;
}

.for-free-box2 {
    text-align: left;
    margin-left: 50px;
}

.for-free-box2 p {
    margin-top: 20px;
    color: #c8c8c8;
    font-size: 12px;
    margin-bottom: 16px;
}

.text-footer {
    display: flex;
    flex-direction: row;
    padding: 72px 0 60px;
    margin-left: 20px;
    justify-content: space-between;
}

.site-footer-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 41.6%;
    width: 41.6%;
    padding-right: 40px;
}

.site-footer-one h3 {
    color: #025157;
    font-size: 18px;
    margin-bottom: 26px;
}

.site-footer-one p {
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.site-footer-one button {
    max-width: 60%;
}

.site-footer-two {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    flex-direction: row;
}

.txt-nav-foo {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.txt-nav-foo:first-child {
    margin-left: 0;
}

.txt-nav-foo:last-child {
    margin-right: 0;
}

.txt-nav-foo h3 {
    color: #025157;
    font-size: 15px;
    font-weight: 600;
}

.txt-nav-foo a {
    margin: 10px 0;
    font-size: 20px;
    color: #4a4a4a;
}

.txt-nav-foo a:hover {
    color: #6abf4b;
}

.social-media-footer {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-social-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ico-mat-foo {
    width: 120px;
}

.iconos-wrapper {
    margin: 0 20px;
}

.iconos-wrapper img {
    width: 40px;
    height: 35px;
}

.all-rights p {
    color: #4a4a4a;
    font-weight: 400;
    text-align: right;
}
